In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
cx=pd.read_csv('/home/andre301267/git/BD/temp/imp_fert_ncm_quanti.csv').sort_values(by=['CO_ANO','CO_MES'])

In [2]:
cx.drop(columns=['CO_NCM','VL_FOB_orig','VL_FRETE_orig','VL_SEGURO_orig','VL_SEGURO'],inplace=True)

In [3]:
cx.columns

Index(['CO_ANO', 'CO_MES', 'nick', 'UF', 'CO_PAIS', 'CO_URF', 'KG_LIQUIDO',
       'VL_FOB', 'VL_FRETE', 'km'],
      dtype='object')

In [4]:
nick=['MOP']
km=[2]
UF=['BA']
CO_PAIS=[]
CO_URF=[]

In [5]:
cat_list=['nick','km','UF','CO_PAIS','CO_URF']
cat_dict={'nick':nick,'km':km,'UF':UF,'CO_PAIS':CO_PAIS,'CO_URF':CO_URF}

In [6]:
for col in cat_list:
    if len(cat_dict[col])>0:
        cx=cx[cx[col].isin(cat_dict[col])]
    else:
        cx.drop(columns=[col],inplace=True)

In [7]:
col_cat=[x for x in ['nick','km','UF','CO_PAIS','CO_URF'] if x in cx.columns]

col_quanti=['KG_LIQUIDO','VL_FOB','VL_FRETE']

cx=cx.groupby(by=['CO_ANO','CO_MES']+col_cat)[col_quanti].sum().reset_index()

In [8]:
cx

     CO_ANO  CO_MES nick  km  UF   KG_LIQUIDO      VL_FOB  VL_FRETE
0      1997       8  MOP   2  BA   10823780.0   2778760.0    259776
1      1997      10  MOP   2  BA   17244625.0   4537242.0    411964
2      1997      11  MOP   2  BA   10742193.0   2905814.0    252000
3      1997      12  MOP   2  BA    8708794.0   2407828.0    208800
4      1998       4  MOP   2  BA    8049864.0   2160464.0    192000
..      ...     ...  ...  ..  ..          ...         ...       ...
232    2024       4  MOP   2  BA   58217498.0  16883537.0   2992481
233    2024       5  MOP   2  BA  153941436.0  44040086.0   6898023
234    2024       6  MOP   2  BA  132817877.0  35560778.0   5659910
235    2024       7  MOP   2  BA   64989199.0  20942751.0   2927514
236    2024       8  MOP   2  BA   73074320.0  18784784.0   3138905

[237 rows x 8 columns]

In [9]:
%run '/home/andre301267/git/BD/Comexstat/function/matriz_esparsa.ipynb'

** Função matriz_esparsa(comex_df) disponível **

In [10]:
cx=matriz_esparsa(cx)
cx

     CO_ANO  CO_MES       date nick  km  UF  KG_LIQUIDO    VL_FOB  VL_FRETE
0      1997       8 1997-08-01  MOP   2  BA    10823780   2778760    259776
1      1997       9 1997-09-01    0   0   0           0         0         0
2      1997      10 1997-10-01  MOP   2  BA    17244625   4537242    411964
3      1997      11 1997-11-01  MOP   2  BA    10742193   2905814    252000
4      1997      12 1997-12-01  MOP   2  BA     8708794   2407828    208800
..      ...     ...        ...  ...  ..  ..         ...       ...       ...
320    2024       4 2024-04-01  MOP   2  BA    58217498  16883537   2992481
321    2024       5 2024-05-01  MOP   2  BA   153941436  44040086   6898023
322    2024       6 2024-06-01  MOP   2  BA   132817877  35560778   5659910
323    2024       7 2024-07-01  MOP   2  BA    64989199  20942751   2927514
324    2024       8 2024-08-01  MOP   2  BA    73074320  18784784   3138905

[325 rows x 9 columns]

In [11]:
cx=cx.assign(tipo='train')

In [12]:
cx_train=cx[cx.tipo=='train']

In [13]:
cx_prev=cx[cx.date==cx.date.max()]

In [14]:
cx_prev.CO_MES=cx_prev.CO_MES+1

In [15]:
cx_prev.CO_MES.values>0

array([ True])

In [16]:
if cx_prev.CO_MES.values>12:
    cx_prev.CO_ANO=cx_prev.CO_ANO+1
    cx_prev.CO_MES=1

In [17]:
cx=pd.concat([cx_train,cx_prev.assign(tipo='prev')])

In [18]:
cx

,CO_ANO,CO_MES,date,nick,km,UF,KG_LIQUIDO,VL_FOB,VL_FRETE,tipo
0,1997,8,1997-08-01,MOP,2,BA,10823780,2778760,259776,train
1,1997,9,1997-09-01,0,0,0,0,0,0,train
2,1997,10,1997-10-01,MOP,2,BA,17244625,4537242,411964,train
3,1997,11,1997-11-01,MOP,2,BA,10742193,2905814,252000,train
4,1997,12,1997-12-01,MOP,2,BA,8708794,2407828,208800,train
...,...,...,...,...,...,...,...,...,...,...
321,2024,5,2024-05-01,MOP,2,BA,153941436,44040086,6898023,train
322,2024,6,2024-06-01,MOP,2,BA,132817877,35560778,5659910,train
323,2024,7,2024-07-01,MOP,2,BA,64989199,20942751,2927514,train
324,2024,8,2024-08-01,MOP,2,BA,73074320,18784784,3138905,train
324,2024,9,2024-08-01,MOP,2,BA,73074320,18784784,3138905,prev

In [19]:
cx.date=cx.date.astype(int)

# Previsão

In [20]:
cx

,CO_ANO,CO_MES,date,nick,km,UF,KG_LIQUIDO,VL_FOB,VL_FRETE,tipo
0,1997,8,870393600000000000,MOP,2,BA,10823780,2778760,259776,train
1,1997,9,873072000000000000,0,0,0,0,0,0,train
2,1997,10,875664000000000000,MOP,2,BA,17244625,4537242,411964,train
3,1997,11,878342400000000000,MOP,2,BA,10742193,2905814,252000,train
4,1997,12,880934400000000000,MOP,2,BA,8708794,2407828,208800,train
...,...,...,...,...,...,...,...,...,...,...
321,2024,5,1714521600000000000,MOP,2,BA,153941436,44040086,6898023,train
322,2024,6,1717200000000000000,MOP,2,BA,132817877,35560778,5659910,train
323,2024,7,1719792000000000000,MOP,2,BA,64989199,20942751,2927514,train
324,2024,8,1722470400000000000,MOP,2,BA,73074320,18784784,3138905,train
324,2024,9,1722470400000000000,MOP,2,BA,73074320,18784784,3138905,prev

In [21]:
cx[cx.tipo=='prev'].date=pd.to_datetime(cx[cx.tipo=='prev'].CO_ANO.astype(str)+'/'+cx[cx.tipo=='prev'].CO_MES.astype(str)+'/1').astype(int)

In [22]:
cx

,CO_ANO,CO_MES,date,nick,km,UF,KG_LIQUIDO,VL_FOB,VL_FRETE,tipo
0,1997,8,870393600000000000,MOP,2,BA,10823780,2778760,259776,train
1,1997,9,873072000000000000,0,0,0,0,0,0,train
2,1997,10,875664000000000000,MOP,2,BA,17244625,4537242,411964,train
3,1997,11,878342400000000000,MOP,2,BA,10742193,2905814,252000,train
4,1997,12,880934400000000000,MOP,2,BA,8708794,2407828,208800,train
...,...,...,...,...,...,...,...,...,...,...
321,2024,5,1714521600000000000,MOP,2,BA,153941436,44040086,6898023,train
322,2024,6,1717200000000000000,MOP,2,BA,132817877,35560778,5659910,train
323,2024,7,1719792000000000000,MOP,2,BA,64989199,20942751,2927514,train
324,2024,8,1722470400000000000,MOP,2,BA,73074320,18784784,3138905,train
324,2024,9,1722470400000000000,MOP,2,BA,73074320,18784784,3138905,prev

# Calssificação

In [23]:
# Marca ocorrências
cx=cx.assign(oc=0)
cx.loc[cx.KG_LIQUIDO>0,'oc']=1
cx.loc[cx.tipo=='prev',col_quanti+['oc']]=np.nan
prev=cx[cx.tipo=='prev']
cx.loc[cx.tipo=='prev','date']=pd.to_datetime(prev.CO_ANO.astype(str)+'/'+prev.CO_MES.astype(str)+'/1').astype(int)

In [24]:
cx

,CO_ANO,CO_MES,date,nick,km,UF,KG_LIQUIDO,VL_FOB,VL_FRETE,tipo,oc
0,1997,8,870393600000000000,MOP,2,BA,10823780.0,2778760.0,259776.0,train,1.0
1,1997,9,873072000000000000,0,0,0,0.0,0.0,0.0,train,0.0
2,1997,10,875664000000000000,MOP,2,BA,17244625.0,4537242.0,411964.0,train,1.0
3,1997,11,878342400000000000,MOP,2,BA,10742193.0,2905814.0,252000.0,train,1.0
4,1997,12,880934400000000000,MOP,2,BA,8708794.0,2407828.0,208800.0,train,1.0
...,...,...,...,...,...,...,...,...,...,...,...
321,2024,5,1714521600000000000,MOP,2,BA,153941436.0,44040086.0,6898023.0,train,1.0
322,2024,6,1717200000000000000,MOP,2,BA,132817877.0,35560778.0,5659910.0,train,1.0
323,2024,7,1719792000000000000,MOP,2,BA,64989199.0,20942751.0,2927514.0,train,1.0
324,2024,8,1722470400000000000,MOP,2,BA,73074320.0,18784784.0,3138905.0,train,1.0
324,2024,9,1725148800000000000,MOP,2,BA,NaN,NaN,NaN,prev,NaN

In [25]:
cx[['CO_MES']+col_cat+['tipo']]=cx[['CO_MES']+col_cat+['tipo']].astype('category')

In [26]:
cx.info()

<class 'pandas.core.frame.DataFrame'>
Index: 326 entries, 0 to 324
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CO_ANO      326 non-null    int64
 1   CO_MES      326 non-null    category
 2   date        326 non-null    int64
 3   nick        326 non-null    category
 4   km          326 non-null    category
 5   UF          326 non-null    category
 6   KG_LIQUIDO  325 non-null    float64
 7   VL_FOB      325 non-null    float64
 8   VL_FRETE    325 non-null    float64
 9   tipo        326 non-null    category
 10  oc          325 non-null    float64
dtypes: category(5), float64(4), int64(2)
memory usage: 20.3 KB

In [27]:
cx=pd.get_dummies(cx)

# Classificação

In [28]:
train=cx[cx.tipo_train==True]
train

,CO_ANO,date,KG_LIQUIDO,VL_FOB,VL_FRETE,oc,CO_MES_1,CO_MES_2,CO_MES_3,CO_MES_4,...,CO_MES_11,CO_MES_12,nick_0,nick_MOP,km_0,km_2,UF_0,UF_BA,tipo_prev,tipo_train
0,1997,870393600000000000,10823780.0,2778760.0,259776.0,1.0,False,False,False,False,...,False,False,False,True,False,True,False,True,False,True
1,1997,873072000000000000,0.0,0.0,0.0,0.0,False,False,False,False,...,False,False,True,False,True,False,True,False,False,True
2,1997,875664000000000000,17244625.0,4537242.0,411964.0,1.0,False,False,False,False,...,False,False,False,True,False,True,False,True,False,True
3,1997,878342400000000000,10742193.0,2905814.0,252000.0,1.0,False,False,False,False,...,True,False,False,True,False,True,False,True,False,True
4,1997,880934400000000000,8708794.0,2407828.0,208800.0,1.0,False,False,False,False,...,False,True,False,True,False,True,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,2024,1711929600000000000,58217498.0,16883537.0,2992481.0,1.0,False,False,False,True,...,False,False,False,True,False,True,False,True,False,True
321,2024,1714521600000000000,153941436.0,44040086.0,6898023.0,1.0,False,False,False,False,...,False,False,False,True,False,True,False,True,False,True
322,2024,1717200000000000000,132817877.0,35560778.0,5659910.0,1.0,False,False,False,False,...,False,False,False,True,False,True,False,True,False,True
323,2024,1719792000000000000,64989199.0,20942751.0,2927514.0,1.0,False,False,False,False,...,False,False,False,True,False,True,False,True,False,True
324,2024,1722470400000000000,73074320.0,18784784.0,3138905.0,1.0,False,False,False,False,...,False,False,False,True,False,True,False,True,False,True

In [29]:
X_train=train[['date']+train.select_dtypes('bool').columns.tolist()]

In [30]:
X_train

,date,CO_MES_1,CO_MES_2,CO_MES_3,CO_MES_4,CO_MES_5,CO_MES_6,CO_MES_7,CO_MES_8,CO_MES_9,...,CO_MES_11,CO_MES_12,nick_0,nick_MOP,km_0,km_2,UF_0,UF_BA,tipo_prev,tipo_train
0,870393600000000000,False,False,False,False,False,False,False,True,False,...,False,False,False,True,False,True,False,True,False,True
1,873072000000000000,False,False,False,False,False,False,False,False,True,...,False,False,True,False,True,False,True,False,False,True
2,875664000000000000,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,True,False,True
3,878342400000000000,False,False,False,False,False,False,False,False,False,...,True,False,False,True,False,True,False,True,False,True
4,880934400000000000,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,True,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,1711929600000000000,False,False,False,True,False,False,False,False,False,...,False,False,False,True,False,True,False,True,False,True
321,1714521600000000000,False,False,False,False,True,False,False,False,False,...,False,False,False,True,False,True,False,True,False,True
322,1717200000000000000,False,False,False,False,False,True,False,False,False,...,False,False,False,True,False,True,False,True,False,True
323,1719792000000000000,False,False,False,False,False,False,True,False,False,...,False,False,False,True,False,True,False,True,False,True
324,1722470400000000000,False,False,False,False,False,False,False,True,False,...,False,False,False,True,False,True,False,True,False,True

In [31]:
y_train=train.oc
y_train

0      1.0
1      0.0
2      1.0
3      1.0
4      1.0
      ...
320    1.0
321    1.0
322    1.0
323    1.0
324    1.0
Name: oc, Length: 325, dtype: float64

In [32]:
prev=cx[cx.tipo_prev==True]
prev

,CO_ANO,date,KG_LIQUIDO,VL_FOB,VL_FRETE,oc,CO_MES_1,CO_MES_2,CO_MES_3,CO_MES_4,...,CO_MES_11,CO_MES_12,nick_0,nick_MOP,km_0,km_2,UF_0,UF_BA,tipo_prev,tipo_train
324,2024,1725148800000000000,NaN,NaN,NaN,NaN,False,False,False,False,...,False,False,False,True,False,True,False,True,True,False

In [33]:
X_prev=prev[['date']+prev.select_dtypes('bool').columns.tolist()]
X_prev

,date,CO_MES_1,CO_MES_2,CO_MES_3,CO_MES_4,CO_MES_5,CO_MES_6,CO_MES_7,CO_MES_8,CO_MES_9,...,CO_MES_11,CO_MES_12,nick_0,nick_MOP,km_0,km_2,UF_0,UF_BA,tipo_prev,tipo_train
324,1725148800000000000,False,False,False,False,False,False,False,False,True,...,False,False,False,True,False,True,False,True,True,False

In [34]:
from sklearn.ensemble import RandomForestClassifier as RFC
RFC=RFC()

In [35]:
RFC.fit(X_train,y_train)

RandomForestClassifier()

In [36]:
X_prev=X_prev.assign(oc=RFC.predict(X_prev))
X_prev

,date,CO_MES_1,CO_MES_2,CO_MES_3,CO_MES_4,CO_MES_5,CO_MES_6,CO_MES_7,CO_MES_8,CO_MES_9,...,CO_MES_12,nick_0,nick_MOP,km_0,km_2,UF_0,UF_BA,tipo_prev,tipo_train,oc
324,1725148800000000000,False,False,False,False,False,False,False,False,True,...,False,False,True,False,True,False,True,True,False,1.0

# Regressão

In [37]:
train=train[train.oc==1]

In [38]:
X_train=train[['date']+train.select_dtypes('bool').columns.tolist()]

In [39]:
X_train

,date,CO_MES_1,CO_MES_2,CO_MES_3,CO_MES_4,CO_MES_5,CO_MES_6,CO_MES_7,CO_MES_8,CO_MES_9,...,CO_MES_11,CO_MES_12,nick_0,nick_MOP,km_0,km_2,UF_0,UF_BA,tipo_prev,tipo_train
0,870393600000000000,False,False,False,False,False,False,False,True,False,...,False,False,False,True,False,True,False,True,False,True
2,875664000000000000,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,True,False,True
3,878342400000000000,False,False,False,False,False,False,False,False,False,...,True,False,False,True,False,True,False,True,False,True
4,880934400000000000,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,True,False,True,False,True
8,891388800000000000,False,False,False,True,False,False,False,False,False,...,False,False,False,True,False,True,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,1711929600000000000,False,False,False,True,False,False,False,False,False,...,False,False,False,True,False,True,False,True,False,True
321,1714521600000000000,False,False,False,False,True,False,False,False,False,...,False,False,False,True,False,True,False,True,False,True
322,1717200000000000000,False,False,False,False,False,True,False,False,False,...,False,False,False,True,False,True,False,True,False,True
323,1719792000000000000,False,False,False,False,False,False,True,False,False,...,False,False,False,True,False,True,False,True,False,True
324,1722470400000000000,False,False,False,False,False,False,False,True,False,...,False,False,False,True,False,True,False,True,False,True

In [40]:
y_train=train[col_quanti]

In [41]:
y_train

      KG_LIQUIDO      VL_FOB   VL_FRETE
0     10823780.0   2778760.0   259776.0
2     17244625.0   4537242.0   411964.0
3     10742193.0   2905814.0   252000.0
4      8708794.0   2407828.0   208800.0
8      8049864.0   2160464.0   192000.0
..           ...         ...        ...
320   58217498.0  16883537.0  2992481.0
321  153941436.0  44040086.0  6898023.0
322  132817877.0  35560778.0  5659910.0
323   64989199.0  20942751.0  2927514.0
324   73074320.0  18784784.0  3138905.0

[237 rows x 3 columns]

In [42]:
X_prev=X_prev[X_prev.oc==1].drop(columns='oc')

In [43]:
X_prev

,date,CO_MES_1,CO_MES_2,CO_MES_3,CO_MES_4,CO_MES_5,CO_MES_6,CO_MES_7,CO_MES_8,CO_MES_9,...,CO_MES_11,CO_MES_12,nick_0,nick_MOP,km_0,km_2,UF_0,UF_BA,tipo_prev,tipo_train
324,1725148800000000000,False,False,False,False,False,False,False,False,True,...,False,False,False,True,False,True,False,True,True,False

In [44]:
from sklearn.ensemble import RandomForestRegressor as RFR
RFR=RFR()

In [47]:
X_train

,date,CO_MES_1,CO_MES_2,CO_MES_3,CO_MES_4,CO_MES_5,CO_MES_6,CO_MES_7,CO_MES_8,CO_MES_9,...,CO_MES_11,CO_MES_12,nick_0,nick_MOP,km_0,km_2,UF_0,UF_BA,tipo_prev,tipo_train
0,870393600000000000,False,False,False,False,False,False,False,True,False,...,False,False,False,True,False,True,False,True,False,True
2,875664000000000000,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,True,False,True
3,878342400000000000,False,False,False,False,False,False,False,False,False,...,True,False,False,True,False,True,False,True,False,True
4,880934400000000000,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,True,False,True,False,True
8,891388800000000000,False,False,False,True,False,False,False,False,False,...,False,False,False,True,False,True,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,1711929600000000000,False,False,False,True,False,False,False,False,False,...,False,False,False,True,False,True,False,True,False,True
321,1714521600000000000,False,False,False,False,True,False,False,False,False,...,False,False,False,True,False,True,False,True,False,True
322,1717200000000000000,False,False,False,False,False,True,False,False,False,...,False,False,False,True,False,True,False,True,False,True
323,1719792000000000000,False,False,False,False,False,False,True,False,False,...,False,False,False,True,False,True,False,True,False,True
324,1722470400000000000,False,False,False,False,False,False,False,True,False,...,False,False,False,True,False,True,False,True,False,True

In [48]:
y_train

      KG_LIQUIDO      VL_FOB   VL_FRETE
0     10823780.0   2778760.0   259776.0
2     17244625.0   4537242.0   411964.0
3     10742193.0   2905814.0   252000.0
4      8708794.0   2407828.0   208800.0
8      8049864.0   2160464.0   192000.0
..           ...         ...        ...
320   58217498.0  16883537.0  2992481.0
321  153941436.0  44040086.0  6898023.0
322  132817877.0  35560778.0  5659910.0
323   64989199.0  20942751.0  2927514.0
324   73074320.0  18784784.0  3138905.0

[237 rows x 3 columns]

In [45]:
RFR.fit(X_train,y_train)

RandomForestRegressor()

In [51]:
RFR.predict(X_prev)

array([[87812472.85, 24662152.66,  3813152.98]])