In [33]:
import time
i=time.time()

import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import seaborn as sns
md_c=None
md_r=1

from sklearn.ensemble import RandomForestClassifier as RFC
RFC=RFC(max_depth=md_c)
from sklearn.ensemble import RandomForestRegressor as RFR
RFR=RFR(max_depth=md_r)
from sklearn import metrics

from pandas.tseries.offsets import DateOffset

In [45]:
d=pd.DataFrame({'date':[pd.to_datetime('1/1/2024'),pd.to_datetime('1/6/2024')]})
(d.date.max()-d.date.min()).days

5

In [35]:
pd.date_range(end=d,periods=2,freq='y')

DatetimeIndex(['2022-12-31', '2023-12-31'], dtype='datetime64[ns]', freq='YE-DEC')

In [2]:
imp_fert=pd.read_csv('~/git/BD/temp/imp_fert_quanti.csv')
imp_fert.shape

(39719, 7)

In [17]:
cols=['nick','SG_UF_NCM']
imp_fert[[x for x in imp_fert.columns if x not in cols]]

       CO_ANO  CO_MES  CO_PAIS   CO_URF  KG_LIQUIDO
0        1997       1      149   417600   6600000.0
1        1997       1      383  1015400   3856419.0
2        1997       1       23   817800   3700000.0
3        1997       1      999   817800  13100000.0
4        1997       1       23   817800   1900000.0
...       ...     ...      ...      ...         ...
39714    2024       4      999   147600   8485000.0
39715    2024       4      999   210200  19751993.0
39716    2024       4      999   517800   3000000.0
39717    2024       4      999   727600   1500000.0
39718    2024       4      999   927700  24599966.0

[39719 rows x 5 columns]