### 1. Importação de Fertilizantes do Estado da Bahia

O site [Comexstat](http://comexstat.mdic.gov.br/pt/geral), portal para acesso gratuito às estatísticas de comércio exterior do Brasil, disponibiliza arquivos que apresentam todos os dados utilizados para construção da balança comercial brasileira, detalhados por NCM ou por Municípios do exportador/importador. 

O site informa que os dados estão disponíveis em arquivos compatados que contém arquivos CSV, utilizando como separador o ponto e vírgula (;), e com os nomes das colunas na primeira linha. 

Para esse projeto, o interesse esta sobre a base de dados denominada IMP_COMPLETA.zip, que contém histórico mensal das importações detalhadas por produto (código NCM), Unidade Federativa importadora, ano, mês, país de origem, quilograma líquido, valor dólar FOB (US$) e outras.

Para aproveitamento completo dos arquivos de dados, será necessário baixar e utilizar as Tabelas Auxiliares contendo a "Correlações de Códigos e Classificações". 

O arquivo principal e as tabelas auxiliares foram baixadas e salvas localmente na pasta '~/git/BD/Comexstat/'.

> **Nota em relação ao Github:** Os arquivos salvos **nesta fase** são maiores do que o tamanho aceito em minha conta, e por isso eles serão ignorados e não disponibilizados.

A classificação de produto mais abrangente disponível é a SH2 (Sistema Harmonizado) e no nome dela se buscará identificar palavras como "fertilizantes" ou "adubo".

In [1]:
# Importa as bibliotecas necessárias
%run '~/git/Bibliotecas.ipynb'

In [2]:
sh=pd.read_csv('~/git/BD/Comexstat/NCM_SH.csv',sep=';',encoding='Latin-1')
sh.head(1)

,CO_SH6,NO_SH6_POR,NO_SH6_ESP,NO_SH6_ING,CO_SH4,NO_SH4_POR,NO_SH4_ESP,NO_SH4_ING,CO_SH2,NO_SH2_POR,NO_SH2_ESP,NO_SH2_ING,CO_NCM_SECROM,NO_SEC_POR,NO_SEC_ESP,NO_SEC_ING
0,10110,"Animais vivos das espécies cavalar, asinina e ...","Caballos y asnos, reproductores de raza pura",Pure-bred breeding horses and asses,101,"Cavalos, asininos e muares, vivos","Caballos, asnos, mulos y burdéganos, vivos","Live horses, asses, mules and hinnies",1,Animais vivos,Animales vivos,Live animals,I,Animais vivos e produtos do reino animal,Animales vivos y productos del reino animal,Lives animals; Animal products

> Pode-se ver que a coluna CO_SH2 apresenta o código mais abrangente. Ainda pode-se ver que na coluna NO_SH2_POR existe o nome da categoria em português.
>
> Identifica-se a seguir qual SH2 tem a palavra "fertilizante" incluída no nome.

In [3]:
# Identifica qual nome de categoria apresenta a palavra "fertilizante"
sh2_fert=sh[sh.NO_SH2_POR.str.contains('fertilizante')]['CO_SH2'].unique()
sh2_fert

array([31])

In [4]:
# Identifica qual nome de categoria apresenta a palavra "adubo"
sh2_adubo=sh[sh.NO_SH2_POR.str.contains('adubo')]['CO_SH2'].unique()
sh2_adubo

array([], dtype=int64)

> Só um SH2 (31) possui 'fertilizante' no nome. Salvaremos o código dele a seguir:

In [5]:
# Identifica o código da única categoria 'fertilizante'
sh2_fert=sh2_fert[0]

>  Nessa mesma tabela, o código mais específico é o SH6, e os que são relacionados ao SH2 dos fertilizantes serão listados a seguir:

In [6]:
sh6_fert=sh[sh.CO_SH2==sh2_fert]['CO_SH6'].unique()
sh6_fert

array([310100, 310210, 310221, 310229, 310230, 310240, 310250, 310260,
       310270, 310280, 310290, 310310, 310311, 310319, 310320, 310390,
       310410, 310420, 310430, 310490, 310510, 310520, 310530, 310540,
       310551, 310559, 310560, 310590])

> Passaremos agora para a próxima tabela, a tabela NCM.csv, e dela extrairemos a lista de NCMs que se relacionam com a lista de SH6 dos fertilizantes.

In [7]:
ncm=pd.read_csv('~/git/BD/Comexstat/NCM.csv', sep=';',encoding='latin1')
ncm_fert=ncm[ncm.CO_SH6.isin(sh6_fert)].CO_NCM.unique()
ncm_fert

array([31053000, 31031100, 31031900, 31059011, 31059019, 31059090,
       31031020, 31031030, 31032000, 31039011, 31053010, 31053090,
       31054000, 31055100, 31055900, 31056000, 31010000, 31021010,
       31021090, 31022100, 31022910, 31022990, 31023000, 31024000,
       31025011, 31025019, 31025090, 31026000, 31027000, 31028000,
       31029000, 31031010, 31039019, 31039090, 31041000, 31042010,
       31042090, 31043010, 31043090, 31049010, 31049090, 31051000,
       31052000])

Agora será extraido do arquivo principal (IMP_COMPLETA.csv) os registros relativos aos NCMs listados.

As linhas filtradas serão concatenadas para formar o novo  **arquivo principal**, que em seguida será salvo no endereço '~/comex/data/imp1.csv'.

In [8]:
# Cria leitor do arquivo principal em pedaços
csv_reader=pd.read_csv('~/git/BD/Comexstat/IMP_COMPLETA.zip', sep=';', chunksize=1000000)

# Prepara tabela para receber e concatenar os filtrados dos pedaços
q=pd.DataFrame()

# Lê, filtra e concatena cada pedaço
for chunk in csv_reader:
    q=pd.concat([q, chunk[chunk.CO_NCM.isin(ncm_fert)]])

# Ordena os dados
imp1=q.sort_values(by=q.columns.to_list()).reset_index(drop=True)

directory = '~/git/Pricing-Fertilizer-take-Rains-into-account/temp/'

# Expand the user path (if '~' is used)
expanded_directory = os.path.expanduser(directory)

# Check if the directory exists
if not os.path.exists(expanded_directory):
    # Create the directory if it doesn't exist
    os.makedirs(expanded_directory)


# Salva o resultado
imp1.to_csv('~/git/Pricing-Fertilizer-take-Rains-into-account/temp/imp1.csv', index=False)

imp1.head()

,CO_ANO,CO_MES,CO_NCM,CO_UNID,CO_PAIS,SG_UF_NCM,CO_VIA,CO_URF,QT_ESTAT,KG_LIQUIDO,VL_FOB,VL_FRETE,VL_SEGURO
0,1997,1,31010000,10,386,SP,1,817800,15222,15222,34324,1323,177
1,1997,1,31010000,10,573,SP,1,817800,1800,20000,7169,2638,0
2,1997,1,31021010,10,850,RR,7,260151,640,32000,7360,1120,0
3,1997,1,31021090,10,850,RR,7,260151,96000,96000,22080,3360,0
4,1997,1,31022100,10,23,GO,1,817800,1900000,1900000,184300,19000,0

### 2. Chuva

O [INMET](https://portal.inmet.gov.br/) - Instituto Nacional de Meteorologia, subordinado ao Ministério da Agricultura e Pecuária, disponibilisa no site os dados históricos de chuvas em estações meteorológicas automáticas em todos os estados brasileiro.

Os arquivos compactados foram baixados do site e salvos localmente em:  
* '~/git/BD/Inmet/'

No Estado da Bahia exitem várias dessas estações automáticas, na capital e no interior.

Para selecionar as estações do INMET que mais se correlacionem com a importação de fertilizantes, é necessário identificar os municípios com maior intensidade da agricultura:

Rank dos Municípios com Maior Área Plantada no Estado da Bahia no ano 2022(Fonte: IBGE):
São Desidério (BA)
Formosa do Rio Preto (BA)
Correntina (BA)
Barreiras (BA)
Luís Eduardo Magalhães (BA)
Riachão das Neves (BA)
Jaborandi (BA)

Comparando o rank acima com as estações meteorológicas listadas pelo INMET, identificamos as seguintes estações de interesse do projeto:  

Estações de interesse: 
* FORMOSA DO RIO PRETO
* CORRENTINA
* LUIS EDUARDO MAGALHÃES
* BARREIRAS



> **Nota em relação ao Github:** Os arquivos salvos **nesta fase** são maiores do que o tamanho aceito em minha conta, e por isso eles serão ignorados e não disponibilizados.

Filtra arquivos do INMET relacionados as localidades baianas acima listadas e salva localmente

In [9]:
# Carrega biblioteca adcional
import shutil
import zipfile

# Pasta com os arquivos zipados
pasta_zip = '/home/andre301267/git/BD/Inmet/'

# Pasta de destino para os arquivos CSV filtrados no ambiente Linux
pasta_destino_linux = os.path.expanduser('~/git/Pricing-Fertilizer-take-Rains-into-account/temp/chuvas/')

# Alternativas a serem verificadas no nome do arquivo
alternativas = ['FORMOSA', 'CORRENTINA', 'EDUARDO', 'BARREIRAS']

# Certifique-se de que a pasta de destino exista ou crie-a
if not os.path.exists(pasta_destino_linux):
    os.makedirs(pasta_destino_linux)

# Itera sobre os arquivos na pasta_zip
for nome_arquivo in os.listdir(pasta_zip):
    caminho_arquivo_zip = os.path.join(pasta_zip, nome_arquivo)

    # Verifica se é um arquivo zip
    if nome_arquivo.lower().endswith('.zip'):
        # Extrai o conteúdo diretamente para a pasta de destino
        with zipfile.ZipFile(caminho_arquivo_zip, 'r') as zip_ref:
            for arquivo in zip_ref.namelist():
                if any(alternativa in arquivo for alternativa in alternativas) and "_BA_" in arquivo and arquivo.lower().endswith('.csv'):
                    # Constrói o caminho de destino de forma mais simplificada, sem o sufixo "copiado_"
                    nome_destino = f"{os.path.splitext(os.path.basename(arquivo))[0]}.CSV"
                    caminho_destino = os.path.join(pasta_destino_linux, nome_destino)

                    with open(caminho_destino, 'wb') as destino, zip_ref.open(arquivo) as origem:
                        shutil.copyfileobj(origem, destino)

print("Transferência concluída. Arquivos filtrados foram salvos em:", pasta_destino_linux)

Transferência concluída. Arquivos filtrados foram salvos em: /home/andre301267/git/Pricing-Fertilizer-take-Rains-into-account/temp/chuvas/

In [10]:
# Diretório dos arquivos
diretorio = '/home/andre301267/git/Pricing-Fertilizer-take-Rains-into-account/temp/chuvas/'

# Lista para armazenar os DataFrames
df_parte1 = pd.DataFrame()
df_parte2 = pd.DataFrame()

# Iterar sobre os arquivos no diretório
for arquivo in os.listdir(diretorio):
    if arquivo.endswith('.CSV'):  # Certifique-se de que estamos lidando apenas com arquivos de texto
        caminho_arquivo = os.path.join(diretorio, arquivo)

        # Ler as primeiras 8 linhas
        parte1 = pd.read_csv(caminho_arquivo, nrows=7,sep=';',encoding='Latin-1')
       # print(parte1)

        # Ler a partir da linha 9
        parte2 = pd.read_csv(caminho_arquivo, skiprows=8,sep=';',encoding='Latin-1').assign(Estação=parte1.iloc[1,1])

        # Adicionar DataFrames às listas
        df_parte1=pd.concat([df_parte1,parte1],axis=1)
        df_parte2=pd.concat([df_parte2,parte2])

# Formata arquivo contendo ID das estações
df_parte1=df_parte1.transpose().drop(columns=[5,6]).drop_duplicates(subset=[1]).drop_duplicates(subset=[2])\
.reset_index(drop=True)

df_parte1.columns=df_parte1.iloc[0]

df_parte1=df_parte1.iloc[1:]

df_parte1.to_csv('/home/andre301267/git/Pricing-Fertilizer-take-Rains-into-account/temp/estações.csv',index=False)
df_parte2.to_csv('/home/andre301267/git/Pricing-Fertilizer-take-Rains-into-account/temp/chuvas1.csv',index=False)

# Exibir os DataFrames
print("DataFrame Parte 1:")
display(df_parte1)

print("\nDataFrame Parte 2:")
display(df_parte2.head(2))

DataFrame Parte 1:

0 UF:                ESTAÇÃO: CODIGO (WMO):     LATITUDE:    LONGITUDE:
1  BA               BARREIRAS          A402        -12,15  -45,01666666
2  BA  LUIZ EDUARDO MAGALHAES          A404  -12,15222222  -45,82972221
3  BA              CORRENTINA          A416  -13,33222221  -44,61722221
4  BA    FORMOSA DO RIO PRETO          A452  -11,05222222  -45,20083333

DataFrame Parte 2:

,DATA (YYYY-MM-DD),HORA (UTC),"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (KJ/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),...,UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Unnamed: 19,Estação,Data,Hora UTC,RADIACAO GLOBAL (Kj/m²)
0,2002-01-01,00:00,0,"960,2","960,2","959,5",-9999,"22,6","20,5","22,9",...,86.0,88.0,68,"2,8","1,5",NaN,BARREIRAS,NaN,NaN,NaN
1,2002-01-01,01:00,0,"960,1","960,3","960,1",-9999,"22,4","20,7","22,7",...,88.0,90.0,44,"3,2","1,9",NaN,BARREIRAS,NaN,NaN,NaN

Remove o diretório com os arquivos extraídos e ainda separados sobre chuvas

In [11]:
import shutil

diretorio = '/home/andre301267/git/Pricing-Fertilizer-take-Rains-into-account/temp/chuvas/'

try:
    shutil.rmtree(diretorio)
    print(f"O diretório '{diretorio}' e todo o seu conteúdo foram removidos com sucesso.")
except OSError as e:
    print(f"Falha ao remover o diretório '{diretorio}': {e}")

O diretório '/home/andre301267/git/Pricing-Fertilizer-take-Rains-into-account/temp/chuvas/' e todo o seu conteúdo foram removidos com sucesso.