In [2]:
# Importa as bibliotecas necessárias
%run '~/git/Bibliotecas.ipynb'

# Importação

In [3]:
# Carrega a base de dados contendo os registros de importação de fertilizantes
im=pd.read_csv('~/git/Pricing-Fertilizer-take-Rains-into-account/temp/i.csv').drop(columns='date')
ch=pd.read_csv('~/git/Pricing-Fertilizer-take-Rains-into-account/temp/c.csv').drop(columns='date')
q=pq.read_csv('~/git/Pricing-Fertilizer-take-Rains-into-account/temp/q.csv')

NameError: name 'pq' is not defined

for ad in range(1,9,2):
    
    i=im.copy()
    c=ch.copy()
    
    c.CO_MES=c.CO_MES+ad
    for adi in range(1,ad+1):
        c.loc[c.CO_MES==12+adi,'CO_ANO']=c.loc[c.CO_MES==12+adi]['CO_ANO']+1
        c.loc[c.CO_MES==12+adi,'CO_MES']=adi
    
    i=i.merge(c)
    
    i=i[i.KG_LIQUIDO>10**6]
    
    id['date']=pd.to_datetime(i.CO_ANO.astype(str)+'/'+i.CO_MES.astype(str)).astype(int)
    id=id.drop(columns='CO_ANO')
    id.CO_MES=id.CO_MES.astype('category')
    id=pd.get_dummies(id)
    
    a=0
    
    for b in range(1,len(id)):
        cc=b+1
        for train_size in range(5*12,15*12,12):
            train=id.iloc[a:b,:].tail(train_size)
            if len(train)>=train_size:
                test=id.iloc[b:cc,:]
        
                # Train
                X_train_mm=train.drop(columns='KG_LIQUIDO')
                X_train_s_mm=train.drop(columns=['KG_LIQUIDO','mm'])
                y_train=train.KG_LIQUIDO
        
                # Test
                X_test_mm  =test.drop(columns='KG_LIQUIDO')
                X_test_s_mm=test.drop(columns=['KG_LIQUIDO','mm'])
                y_test=test.KG_LIQUIDO
                
                RFR.fit(X_train_mm,y_train)
                test_pred=test.assign(KG_LIQUIDO_pred_mm=RFR.predict(X_test_mm).astype(int))
                
                RFR.fit(X_train_s_mm,y_train)
                test_pred=test_pred.assign(KG_LIQUIDO_pred_s_mm=RFR.predict(X_test_s_mm).astype(int))
                test_pred=test_pred.assign(ad=ad, train_size_anos=train_size/12)
                
                q=pd.concat([q,test_pred])
        

q['erro_mm']=np.abs(q.KG_LIQUIDO-q.KG_LIQUIDO_pred_mm)
q['erro_s_mm']=np.abs(q.KG_LIQUIDO-q.KG_LIQUIDO_pred_s_mm)

print('erro_mm.mean',round(q.erro_mm.mean()/10**6))
print('erro_s_mm.mean',round(q.erro_s_mm.mean()/10**6))

In [4]:
r=q

NameError: name 'q' is not defined

In [4]:
r=round(q.groupby('CO_ANO')[['erro_mm','erro_s_mm']].mean()/10**6).reset_index()
r['dif']=r.erro_s_mm-r.erro_mm
r.sort_values(by='dif', ascending=False)

    CO_ANO  erro_mm  erro_s_mm   dif
13    2020     29.0       37.0   8.0
9     2016     25.0       31.0   6.0
16    2023     44.0       49.0   5.0
5     2012     31.0       36.0   5.0
14    2021     51.0       54.0   3.0
8     2015     28.0       31.0   3.0
11    2018     54.0       56.0   2.0
6     2013     24.0       26.0   2.0
4     2011     24.0       24.0   0.0
7     2014     26.0       26.0   0.0
12    2019     39.0       39.0   0.0
0     2007     13.0       12.0  -1.0
10    2017     74.0       73.0  -1.0
1     2008     22.0       21.0  -1.0
3     2010     20.0       19.0  -1.0
15    2022     37.0       35.0  -2.0
2     2009     18.0       15.0  -3.0
17    2024     58.0       22.0 -36.0

In [5]:
r=round(q.groupby('CO_MES')[['erro_mm','erro_s_mm']].mean()/10**6).reset_index()
r['dif']=r.erro_s_mm-r.erro_mm
r.sort_values(by='dif', ascending=False)

    CO_MES  erro_mm  erro_s_mm  dif
1        2     33.0       39.0  6.0
8        9     33.0       38.0  5.0
9       10     48.0       53.0  5.0
0        1     49.0       53.0  4.0
2        3     36.0       40.0  4.0
6        7     43.0       46.0  3.0
7        8     29.0       31.0  2.0
11      12     33.0       35.0  2.0
3        4     25.0       25.0  0.0
10      11     57.0       56.0 -1.0
4        5     43.0       41.0 -2.0
5        6     38.0       35.0 -3.0

In [6]:
r=round(q.groupby('ad')[['erro_mm','erro_s_mm']].mean()/10**6).reset_index()
r['dif']=r.erro_s_mm-r.erro_mm
r.sort_values(by='dif', ascending=False)

   ad  erro_mm  erro_s_mm   dif
6   7     27.0       35.0   8.0
5   6     42.0       44.0   2.0
7   8     39.0       41.0   2.0
4   5     42.0       40.0  -2.0
0   1     53.0       50.0  -3.0
3   4     57.0       53.0  -4.0
2   3     75.0       56.0 -19.0
1   2     37.0        8.0 -29.0

In [7]:
r=round(q.groupby('train_size_anos')[['erro_mm','erro_s_mm']].mean()/10**6).reset_index()
r['dif']=r.erro_s_mm-r.erro_mm
r.sort_values(by='dif', ascending=False)

   train_size_anos  erro_mm  erro_s_mm  dif
3              8.0     37.0       41.0  4.0
5             10.0     39.0       42.0  3.0
7             12.0     42.0       45.0  3.0
8             13.0     44.0       47.0  3.0
9             14.0     43.0       46.0  3.0
1              6.0     36.0       38.0  2.0
2              7.0     37.0       39.0  2.0
4              9.0     39.0       41.0  2.0
0              5.0     34.0       35.0  1.0
6             11.0     42.0       43.0  1.0

In [8]:
q.to_csv('~/git/Pricing-Fertilizer-take-Rains-into-account/temp/q.csv', index=False)