teste 3

In [1]:
# Importa as bibliotecas necessárias
%run '~/git/Bibliotecas.ipynb'

### Importação

In [2]:
# Carrega a base de dados contendo os registros de importação de fertilizantes
im=pd.read_csv('~/git/Pricing-Fertilizer-take-Rains-into-account/temp/i.csv').drop(columns='date')

# Modifica unidade de peso
im.KG_LIQUIDO=im.KG_LIQUIDO/10**6
im=im.rename(columns={'KG_LIQUIDO':'kton'})
im.head(1)

   CO_ANO  CO_MES       kton
0    2002       2  16.173993

In [3]:
im.tail(1)

     CO_ANO  CO_MES        kton
263    2024       1  121.651414

### Chuvas

In [4]:
ch=pd.read_csv('~/git/Pricing-Fertilizer-take-Rains-into-account/temp/c.csv').drop(columns='date')
ch.head(1)

   CO_ANO  CO_MES    mm
0    2001      12  23.2

In [5]:
ch.tail(1)

     CO_ANO  CO_MES     mm
264    2023      12  328.0

In [6]:
print('\
\nAs importações foram fundidas com as chuvas adiantadas em 7 meses.')

As importações foram fundidas com as chuvas adiantadas em 7 meses.

### Funde as tabelas de fertilizantes e chuvas

In [7]:
q=pd.DataFrame()
#q=pd.read_csv('~/git/Pricing-Fertilizer-take-Rains-into-account/temp/q.csv')

from sklearn.ensemble import RandomForestRegressor as RFR
# Define hiperparametro
md=1
# Instância o regresssor
RFR=RFR(max_depth=md, random_state=1)

i=im.copy()
c=ch.copy()

# Determina que o adiantamento dos meses em relação as importações seja igual ao adinatamento de máximo efeito, 
# como determinado no capítulo anterior
ad=7

# Adianta os meses
c.CO_MES=c.CO_MES+ad

# Corriges meses fora da faixa
for adi in range(1,ad+1):
    c.loc[c.CO_MES==12+adi,'CO_ANO']=c.loc[c.CO_MES==12+adi]['CO_ANO']+1
    c.loc[c.CO_MES==12+adi,'CO_MES']=adi

# Funde chuvas com importações
i=i.merge(c)
i.head(2)

   CO_ANO  CO_MES       kton    mm
0    2002       7  84.782666  23.2
1    2002       8  78.232067   0.0

In [8]:
print(f'\
\nTestes de previsão serão executados considerando o tempo de treino de 10 anos.\n\n\
Cada mês, devido a sazonalidade, será considerado um tratamento, e por isso, a repetição dos testes serão os anos.\n\n\
Temos {round(len(i)/12,1)} anos de registros para processamento e o tempo de treino vai utilizar 10 anos, restam\n\
{round(len(i)/12 - 10,1)} anos para repetição dos testes. Ou seja, algununs meses terão 11, outros 12 repetições.\n\n\
A previsão será obtida por regressão de floresta randômica.\n\
')

Testes de previsão serão executados considerando o tempo de treino de 10 anos.

Cada mês, devido a sazonalidade, será considerado um tratamento, e por isso, a repetição dos testes serão os anos.

Temos 21.6 anos de registros para processamento e o tempo de treino vai utilizar 10 anos, restam
11.6 anos para repetição dos testes. Ou seja, algununs meses terão 11, outros 12 repetições.

A previsão será obtida por regressão de floresta randômica.

Executa os testes

In [9]:
# Recria coluna de data
i['date']=pd.to_datetime(i.CO_ANO.astype(str)+'/'+i.CO_MES.astype(str)+'/1').astype(int)

# Descarta coluna Ano, substituida por data
i=i.drop(columns='CO_ANO')

# Formata mês como informação categórica
i.CO_MES=i.CO_MES.astype('category')

i=pd.get_dummies(i, prefix_sep='~')


for a in range(1,len(i)):

    for train_size_mes in [10*12]:

        train=i.iloc[:a,:].tail(train_size_mes)
        
        if len(train)>=train_size_mes:

            test=i.iloc[a:a+1,:]
                        
            # Train
            X_train_tratamento=train.drop(columns='kton')
            X_train_testemunha=train.drop(columns=['kton','mm'])
            y_train=train.kton
    
            # Test
            X_test_tratamento  =test.drop(columns='kton')
            X_test_testemunha=test.drop(columns=['kton','mm'])
            y_test=test.kton
                
            RFR.fit(X_train_tratamento,y_train)
            
            test_pred=test     .assign(kton_pred_tratamento  =RFR.predict(X_test_tratamento  ).astype(int))
            
            RFR.fit(X_train_testemunha,y_train)
            
            test_pred=test_pred.assign(kton_pred_testemunha=RFR.predict(X_test_testemunha).astype(int))

            test_pred=test_pred.assign(ad=ad,train_size_anos=train_size_mes/12,md=md)
            
            q=pd.concat([q,test_pred])

q['erro_tratamento']=np.abs(q.kton-q.kton_pred_tratamento)
q['erro_testemunha']=np.abs(q.kton-q.kton_pred_testemunha)

In [10]:
# retorna para o formato original
q=pd.concat([q[[x for x in q.columns if x not in q.columns[3:15]]],pd.from_dummies(q[q.columns[3:15]],sep='~')],axis=1)

In [11]:
print('\n\nComo chegamos numa fase de análise visual dos números, a unidade de medida foi alterada para quilotonelada ou kton.\n\n')
display(q[['kton','kton_pred_tratamento','kton_pred_testemunha','erro_tratamento','erro_testemunha']].astype(int).head())

Como chegamos numa fase de análise visual dos números, a unidade de medida foi alterada para quilotonelada ou kton.

,kton,kton_pred_tratamento,kton_pred_testemunha,erro_tratamento,erro_testemunha
120,91,82,83,9,8
121,22,80,83,57,60
122,46,58,74,11,27
123,94,75,53,19,41
124,100,41,55,59,45

In [12]:
print('\n\nOs resultado dos testes foram salvos e no próximo capítulo poderemos análisar estatísticamente se há diferença\n\
entre utilizar ou não as chuvas como variável adicional no cálculo de previsão de importação de fertilizantes.\n\n')

Os resultado dos testes foram salvos e no próximo capítulo poderemos análisar estatísticamente se há diferença
entre utilizar ou não as chuvas como variável adicional no cálculo de previsão de importação de fertilizantes.

In [13]:
q.to_csv('~/git/Pricing-Fertilizer-take-Rains-into-account/temp/q.csv', index=False)