In [1]:
# Importa as bibliotecas necess√°rias
%run '~/git/Bibliotecas.ipynb'

In [2]:
# Carrega as tabelas
i=pd.read_csv('~/git/Pricing-Fertilizer-take-Rains-into-account/temp/i.csv')
c=pd.read_csv('~/git/Pricing-Fertilizer-take-Rains-into-account/temp/c.csv')

# Funde as tabelas
i_c=i.merge(c)

# Seleciona e ordena as colunas
i_c=i_c[i_c.columns[[3,0,1,2,4]]]
i_c.date=pd.to_datetime(i_c.date)
i_c.head(1)

        date  CO_ANO  CO_MES  KG_LIQUIDO    mm
0 2001-12-01    2001      12  28011377.0  23.2