In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [7]:
i=imp_fert_ncm=pd.read_csv('~/git/BD/temp/imp_fert_ncm_quanti.csv')
i.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89557 entries, 0 to 89556
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CO_ANO          89557 non-null  int64
 1   CO_MES          89557 non-null  int64
 2   CO_NCM          89557 non-null  int64
 3   nick            89557 non-null  object
 4   UF              89557 non-null  object
 5   CO_PAIS         89557 non-null  int64
 6   CO_URF          89557 non-null  int64
 7   VL_SEGURO_orig  89557 non-null  int64
 8   VL_FRETE_orig   89557 non-null  int64
 9   VL_FOB_orig     89557 non-null  int64
 10  KG_LIQUIDO      89557 non-null  float64
 11  VL_FOB          89557 non-null  float64
 12  VL_FRETE        89557 non-null  int64
 13  VL_SEGURO       89557 non-null  int64
 14  km              89557 non-null  int64
dtypes: float64(2), int64(11), object(2)
memory usage: 10.2+ MB

In [8]:
uf='BA'
ncm=31042090

In [10]:
i=i[(i.CO_NCM==ncm)&(i.UF==uf)]

In [12]:
i.groupby('km')[['KG_LIQUIDO','VL_FOB']].count()

    KG_LIQUIDO  VL_FOB
km
1           94      94
2          656     656

In [13]:
i=i[(i.km==2)]