In [1]:
import time
i=time.time()

In [2]:
import numpy as np
import pandas as pd

In [3]:
imp_fert_mun=pd.read_csv('~/git/BD/temp/imp_fert_mun.csv')

In [4]:
a=imp_fert_mun.CO_ANO.max()

In [5]:
m=imp_fert_mun[imp_fert_mun.CO_ANO==a].CO_MES.max()

In [6]:
if m==12:
    a=a+1

In [7]:
sh4_filtro=imp_fert_mun[['CO_SH4']].drop_duplicates()

In [8]:
imp_fert_mun=imp_fert_mun[imp_fert_mun.CO_ANO!=a]

In [9]:
import pandas as pd
import ssl

# Desativar a verificação do certificado SSL
ssl._create_default_https_context = ssl._create_unverified_context

# URL do arquivo CSV
url = "https://balanca.economia.gov.br/balanca/bd/comexstat-bd/mun/IMP_"+str(int(a))+"_MUN.csv"
#      https://balanca.economia.gov.br/balanca/bd/comexstat-bd/mun/IMP_   2024        _MUN.csv

# Ler o arquivo CSV diretamente da URL
df = pd.read_csv(url, delimiter=';', encoding='ISO-8859-1')

df.head(1)

   CO_ANO  CO_MES   SH4  CO_PAIS SG_UF_MUN   CO_MUN  KG_LIQUIDO  VL_FOB
0    2024       2  9403      160        SC  4205407         508     973

In [10]:
df=df.rename(columns={'SG_UF_MUN':'UF','SH4':'CO_SH4'})
df.head(1)

   CO_ANO  CO_MES  CO_SH4  CO_PAIS  UF   CO_MUN  KG_LIQUIDO  VL_FOB
0    2024       2    9403      160  SC  4205407         508     973

In [11]:
df=df.merge(sh4_filtro)

# Exibir as primeiras linhas do DataFrame
print(df.head())

   CO_ANO  CO_MES  CO_SH4  CO_PAIS  UF   CO_MUN  KG_LIQUIDO   VL_FOB
0    2024       1    3104       23  SP  3447304       48000    32915
1    2024       6    3102      556  ES  3205002    22454616  6111637
2    2024       2    3102       59  MS  5203702      100000    34525
3    2024       8    3105      245  SP  3426902       22464    37511
4    2024       3    3102      850  RS  4314407     5000000  1625000

In [12]:
imp_fert_mun_atlz=pd.concat([imp_fert_mun,df]).sort_values(by=['CO_ANO','CO_MES','CO_SH4','CO_PAIS','UF'])\
.reset_index(drop=True)

In [13]:
imp_fert_mun_atlz.to_csv('~/git/BD/temp/imp_fert_mun.csv', index=False)

In [14]:
f=time.time()
print(f"Tempo de execução: {round((f-i)/60,1)} minutos.")

Tempo de execução: 0.2 minutos.