In [9]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as  plt
imp_fert=pd.read_csv('~/git/BD/temp/imp_fert_quanti_g_ncm_uf.csv').sort_values(by=['CO_ANO','CO_MES']).reset_index(drop=True)
imp_fert.head(1)

,sigla,CO_ANO,CO_MES,CO_NCM,SG_UF_NCM,KG_LIQUIDO,VL_FOB,VL_FRETE
0,MOP-hi,1997,1,31042090-hi,RS,10456419,1373210,127200

In [ ]:
imp_fert=imp_fert[imp_fert.CO_ANO!=2024]

imp_fert.KG_LIQUIDO.plot()