In [1]:
import time
inicio=time.time()

In [2]:
import numpy as np
import pandas as pd

In [3]:
imp_fert=pd.read_csv('~/git/BD/temp/imp_fert_quanti_g_ncm_uf.csv')

In [4]:
imp_fert=imp_fert.loc[:,:'KG_LIQUIDO']

In [5]:
filt_ncm=imp_fert.groupby('CO_NCM').KG_LIQUIDO.sum().sort_values(ascending=False).head(2).reset_index().CO_NCM.values[:1]
imp_fert=imp_fert[imp_fert.CO_NCM.isin(filt_ncm)]

filt_uf=imp_fert.groupby('SG_UF_NCM').KG_LIQUIDO.sum().sort_values(ascending=False).head(2).reset_index().SG_UF_NCM.values[:1]
imp_fert=imp_fert[imp_fert.SG_UF_NCM.isin(filt_uf)]

In [6]:
%run '~/git/prev_score_ncm_uf.py'

Disponível função prev_score(ano_mes_ncm_uf)

In [7]:
imp_fert.head(1)

       sigla  CO_ANO  CO_MES       CO_NCM SG_UF_NCM  KG_LIQUIDO
2825  MOP-hi    1997      11  31042090-hi        MT     2978630

In [8]:
q=prev_score(imp_fert)

In [9]:
q.to_csv('~/git/BD/temp/prev_score_quanti.csv',index=False)

In [10]:
fim=time.time()
d=fim-inicio
print(f'Duração:{round(d/60)} minutos.')

Duração:0 minutos.

In [11]:
q[['accuracy','precision','recall','r2']].mean()

accuracy     0.965909
precision    0.965909
recall       1.000000
r2           0.348431
dtype: float64

In [12]:
q.head(1)

   CO_MES       CO_NCM SG_UF_NCM  accuracy  precision  recall        r2
72      1  31042090-hi        MT  0.965909   0.965909     1.0  0.348431

In [13]:
round(q.groupby('CO_NCM')[q.columns[3:]].mean(),1)

/tmp/ipykernel_2399/2220920743.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  round(q.groupby('CO_NCM')[q.columns[3:]].mean(),1)

             accuracy  precision  recall   r2
CO_NCM
31042090-hi       1.0        1.0     1.0  0.3

In [14]:
round(q.groupby('SG_UF_NCM')[q.columns[3:]].mean(),1)

/tmp/ipykernel_2399/92138848.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  round(q.groupby('SG_UF_NCM')[q.columns[3:]].mean(),1)

           accuracy  precision  recall   r2
SG_UF_NCM
MT              1.0        1.0     1.0  0.3

In [15]:
round(q.groupby('CO_MES')[q.columns[3:]].mean(),1)

/tmp/ipykernel_2399/3954593838.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  round(q.groupby('CO_MES')[q.columns[3:]].mean(),1)

        accuracy  precision  recall   r2
CO_MES
1            1.0        1.0     1.0  0.3
2            1.0        1.0     1.0  0.3
3            1.0        1.0     1.0  0.3
4            1.0        1.0     1.0  0.3
5            1.0        1.0     1.0  0.3
6            1.0        1.0     1.0  0.3
7            1.0        1.0     1.0  0.3
8            1.0        1.0     1.0  0.3
9            1.0        1.0     1.0  0.3
10           1.0        1.0     1.0  0.3
11           1.0        1.0     1.0  0.3
12           1.0        1.0     1.0  0.3