In [1]:
import time
i=time.time()

# Baixa zip

In [2]:
%run '/home/andre301267/git/BD/Comexstat/function/baixa_zip.ipynb'

**Função baixa_zip(url,local_filename) disponível**

In [3]:
url = 'https://balanca.economia.gov.br/balanca/bd/comexstat-bd/mun/IMP_COMPLETA_MUN.zip'
local_filename = '/home/andre301267/git/BD/temp/IMP_COMPLETA_MUN.zip'

In [4]:
baixa_zip(url,local_filename)

Arquivo salvo como /home/andre301267/git/BD/temp/IMP_COMPLETA_MUN.zip

import numpy as np

# Carrega tabelas complementares

In [5]:
%run '~/git/BD/Comexstat/function/Extrai-tab_complementares.ipynb'

Variáveis disponíveis: ncm, ncm_sh, pais,uf_mun,uf,via,urf

Reconhecer os códigos mais abrangentes dos produtos de interesse no sistema internacional SH:

# Identifica código foco

In [6]:
co_sh2_fert=ncm_sh[ncm_sh.NO_SH2_POR.str.lower().str.contains('fertilizante')]['CO_SH2'].unique()
co_sh2_fert

array([31])

Lista os códigos SH4 contidos no código SH2 de fertilizantes:

In [7]:
sh4_fert=ncm_sh[ncm_sh.CO_SH2.isin(co_sh2_fert)]['CO_SH4'].unique()
sh4_fert

array([3101, 3102, 3103, 3104, 3105])

Identificando os nomes dos arquivos no interior do IMP_COMPLETA.zip

In [8]:
%run '/home/andre301267/git/BD/Comexstat/function/Id_internal_zipfile.ipynb'

** Função id_internal_zipfile(local_filename)disponível **

In [9]:
internal_zipfile=id_internal_zipfile(local_filename)

IMP_COMPLETA_MUN.csv

# Visualiza primeiras linhas do interno

In [10]:
%run '/home/andre301267/git/BD/Comexstat/function/vslz_primeiras_linhas.ipynb'

** Função vslz_primeiras_linhas(local_filename,internal_zipfile) disponível**

In [11]:
vslz_primeiras_linhas(local_filename,internal_zipfile)

   CO_ANO  CO_MES   SH4  CO_PAIS SG_UF_MUN   CO_MUN  KG_LIQUIDO  VL_FOB
0    1997       6  9032      399        SP  3450308        1460  179845
1    1997       4  8421      249        SP  3424402         289   18950
2    1997      12  7616       23        MG  3106200        1312   20534
3    1997      12  8483      249        SC  4209102        4251  120559
4    1997       6  4104       63        RS  4307609       10828  247316

# Extrai filtrando

In [12]:
%run '/home/andre301267/git/BD/Comexstat/function/extrai_filtrando_mun.ipynb'

** Função extrai_filtrando_mun(local_filename,internal_zipfile) disponível **

In [13]:
imp_fert=extrai_filtrando_mun(local_filename,internal_zipfile)

df imp_fert disponível

# Corrige Columns Name

In [14]:
imp_fert=imp_fert.rename(columns={'SG_UF_MUN':'UF', 'SH4':'CO_SH4'})

# Salva arquivo extraído e filtrado

In [15]:
imp_fert.to_csv('~/git/BD/temp/imp_fert_mun.csv', index=False)

In [16]:
import os

# Verificar se o arquivo existe antes de tentar excluí-lo
if os.path.exists(local_filename):
    os.remove(local_filename)
    print(f'O arquivo {local_filename} foi excluído com sucesso.')
else:
    print(f'O arquivo {local_filename} não foi encontrado.')

O arquivo /home/andre301267/git/BD/temp/IMP_COMPLETA_MUN.zip foi excluído com sucesso.

In [17]:
imp_fert

          CO_ANO  CO_MES  CO_SH4  CO_PAIS  UF   CO_MUN  KG_LIQUIDO   VL_FOB
368         1997       7    3105      249  SP  3431308     3653780   734410
605         1997      10    3104      275  SP  3438709     1000000   134000
709         1997       4    3104      149  SP  3409502     2000000   262500
814         1997      10    3104      383  MG  3170107     9900000  1450300
843         1997      12    3104      149  RS  4315602    15909367  1964390
...          ...     ...     ...      ...  ..      ...         ...      ...
31363655    2024       8    3102      160  SC  4208203     1200000   452590
31363725    2024       1    3102      528  RS  4314407     2750000   780038
31364805    2024       1    3105      628  SP  3438709       37440   184055
31365180    2024       4    3104      383  SP  3424402     1100000   285010
31365188    2024       1    3102      154  MT  5107925     7701576  3007496

[121774 rows x 8 columns]

In [18]:
f=time.time()
print(f"Tempo de execução: {round((f-i)/60,1)} minutos.")

Tempo de execução: 2.0 minutos.