# Combina as Importações por Município e por NCM

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
m=imp_fert_mun=pd.read_csv('~/git/BD/temp/imp_fert_mun.csv').rename(columns={'SH4':'CO_SH4','SG_UF_MUN':'UF'})
m.shape

(121774, 8)

In [3]:
n=imp_fert_ncm=pd.read_csv('~/git/BD/temp/imp_fert_ncm.csv').rename(columns={'SG_UF_NCM':'UF'})
n=n.groupby(by=['CO_ANO','CO_MES','CO_NCM','CO_PAIS','UF'])[['KG_LIQUIDO','VL_FOB','VL_FRETE','VL_SEGURO']].sum().reset_index()
n.shape

(89339, 9)

In [4]:
m

        CO_ANO  CO_MES  CO_SH4  CO_PAIS  UF   CO_MUN  KG_LIQUIDO  VL_FOB
0         1997       1    3101      386  SP  3456503       15222   34324
1         1997       1    3101      573  SP  3419055       20000    7169
2         1997       1    3102       23  GO  5301108     1900000  184300
3         1997       1    3102       23  MG  3148004     1400000  128800
4         1997       1    3102       23  MG  3128709     1415000  137255
...        ...     ...     ...      ...  ..      ...         ...     ...
121769    2024       8    3105      741  SP  3450308         330    2918
121770    2024       8    3105      756  SP  3426704       35075   45157
121771    2024       8    3105      767  SP  3413009           0     104
121772    2024       8    3105      827  BA  2906501      105000   86565
121773    2024       8    3105      827  SP  3426902       36873  131340

[121774 rows x 8 columns]

In [5]:
n

,CO_ANO,CO_MES,CO_NCM,CO_PAIS,UF,KG_LIQUIDO,VL_FOB,VL_FRETE,VL_SEGURO
0,1997,1,31010000,386,SP,15222,34324,1323,177
1,1997,1,31010000,573,SP,20000,7169,2638,0
2,1997,1,31021010,850,RR,32000,7360,1120,0
3,1997,1,31021090,850,RR,96000,22080,3360,0
4,1997,1,31022100,23,GO,1900000,184300,19000,0
...,...,...,...,...,...,...,...,...,...
89334,2024,8,31059090,628,SP,16980,74880,675,49
89335,2024,8,31059090,676,MG,27000,21420,4500,12
89336,2024,8,31059090,741,SP,330,2918,86,0
89337,2024,8,31059090,827,BA,105000,86565,3075,58
89338,2024,8,31059090,827,SP,6106,16740,397,15

In [6]:
n['CO_SH4']=n.CO_NCM.astype(str).str[:4].astype(int)

In [7]:
mn=m.merge(n, on=['CO_ANO','CO_MES','CO_PAIS','CO_SH4','UF','KG_LIQUIDO','VL_FOB'],how='outer')
mn

,CO_ANO,CO_MES,CO_SH4,CO_PAIS,UF,CO_MUN,KG_LIQUIDO,VL_FOB,CO_NCM,VL_FRETE,VL_SEGURO
0,1997,1,3102,23,GO,5301108.0,1900000,184300,31022100.0,19000.0,0.0
1,1997,1,3102,23,MG,3148004.0,1400000,128800,NaN,NaN,NaN
2,1997,1,3102,23,MG,3128709.0,1415000,137255,NaN,NaN,NaN
3,1997,1,3102,23,MG,NaN,2815000,266055,31022100.0,28150.0,1004.0
4,1997,1,3102,23,SP,3436703.0,385000,37345,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
162313,2024,8,3104,847,RS,4315602.0,21393752,6503701,31042090.0,235331.0,0.0
162314,2024,8,3104,847,SC,4216206.0,25062880,6714857,31042090.0,778692.0,4590.0
162315,2024,8,3104,847,SE,2806107.0,351000,223322,31043010.0,12670.0,153.0
162316,2024,8,3104,847,SP,3404008.0,19257863,5854390,31042090.0,211837.0,0.0
162317,2024,8,3102,850,CE,2312403.0,7047520,2242352,31021010.0,294756.0,0.0

In [8]:
mn[['CO_MUN','CO_NCM']].isna().sum()

CO_MUN    40544
CO_NCM    72979
dtype: int64

In [9]:
mn.shape

(162318, 11)

In [10]:
mn_o=mn.dropna()

In [11]:
mn_o['kg_orig']=mn_o.KG_LIQUIDO

In [12]:
mn_o['fob_orig']=mn_o.VL_FOB

In [13]:
mn_o.shape

(48795, 13)

In [14]:
mn_x=mn[~mn.index.isin(mn_o.index)]

In [15]:
g=mn_x.groupby(by=['CO_ANO','CO_MES','CO_PAIS','CO_SH4','UF'])[['CO_MUN','CO_NCM']].count().reset_index()
g

       CO_ANO  CO_MES  CO_PAIS  CO_SH4  UF  CO_MUN  CO_NCM
0        1997       1       23    3102  MG       2       1
1        1997       1       23    3102  SP       4       1
2        1997       1       23    3104  RS       2       1
3        1997       1       23    3104  SP       2       1
4        1997       1       87    3104  RS       2       1
...       ...     ...      ...     ...  ..     ...     ...
26707    2024       8      676    3105  SP       7       2
26708    2024       8      827    3105  SP       1       2
26709    2024       8      847    3104  BA       2       1
26710    2024       8      847    3104  GO       2       1
26711    2024       8      847    3104  MG       2       1

[26712 rows x 7 columns]

In [16]:
mn_11=g[(g.CO_MUN==1)&(g.CO_NCM==1)][['CO_ANO','CO_MES','CO_PAIS','CO_SH4','UF']].merge(mn_x)

In [17]:
mn_w1=g[(g.CO_MUN!=1)&(g.CO_NCM==1)][['CO_ANO','CO_MES','CO_PAIS','CO_SH4','UF']].merge(mn_x)

In [18]:
mn_1w=g[(g.CO_MUN==1)&(g.CO_NCM!=1)][['CO_ANO','CO_MES','CO_PAIS','CO_SH4','UF']].merge(mn_x)

In [19]:
mn_ww=g[(g.CO_MUN!=1)&(g.CO_NCM!=1)][['CO_ANO','CO_MES','CO_PAIS','CO_SH4','UF']].merge(mn_x)

In [20]:
mn_11['kg_orig']=mn_11.KG_LIQUIDO
mn_11['fob_orig']=mn_11.VL_FOB

In [21]:
mn_11.shape

(0, 13)

In [22]:
mn_w1_ncm=mn_w1[mn_w1.CO_MUN.isna()].rename(columns={'KG_LIQUIDO':'kg_orig','VL_FOB':'fob_orig'}).drop(columns='CO_MUN')
mn_w1_mun=mn_w1[mn_w1.CO_NCM.isna()].drop(columns='CO_NCM').loc[:,:'VL_FOB']
mn_w1=mn_w1_mun.merge(mn_w1_ncm,on=['CO_ANO','CO_MES','CO_PAIS','CO_SH4','UF'])

In [23]:
mn_1w_mun=mn_1w[mn_1w.CO_NCM.isna()].rename(columns={'KG_LIQUIDO':'kg_orig','VL_FOB':'fob_orig'}).drop(columns='CO_NCM').loc[:,:'fob_orig']
mn_1w_ncm=mn_1w[mn_1w.CO_MUN.isna()].drop(columns='CO_MUN')
mn_1w=mn_1w_mun.merge(mn_1w_ncm,on=['CO_ANO','CO_MES','CO_PAIS','CO_SH4','UF'])

In [24]:
mn_ww.head(10)

,CO_ANO,CO_MES,CO_PAIS,CO_SH4,UF,CO_MUN,KG_LIQUIDO,VL_FOB,CO_NCM,VL_FRETE,VL_SEGURO
0,1997,2,23,3104,SP,3422307.0,1500000,216000,NaN,NaN,NaN
1,1997,2,23,3104,SP,NaN,3000000,427500,31042090.0,36000.0,1806.0
2,1997,2,23,3104,SP,NaN,4500000,990500,31043010.0,67500.0,6139.0
3,1997,2,23,3104,SP,3413504.0,6000000,1202000,NaN,NaN,NaN
4,1997,2,573,3102,RS,NaN,19440,9459,31029000.0,1039.0,12.0
5,1997,2,573,3102,RS,4312401.0,314910,30546,NaN,NaN,NaN
6,1997,2,573,3102,RS,4309308.0,450000,50400,NaN,NaN,NaN
7,1997,2,573,3102,RS,4314407.0,575287,59708,NaN,NaN,NaN
8,1997,2,573,3102,RS,4316907.0,676980,75822,NaN,NaN,NaN
9,1997,2,573,3102,RS,4315602.0,989432,110816,NaN,NaN,NaN

In [25]:
mn_ww.KG_LIQUIDO.sum()/n.KG_LIQUIDO.sum()

np.float64(0.4185987010929043)

In [26]:
mn_poly=pd.concat([mn_o,mn_11,mn_1w,mn_w1])

In [27]:
mn_poly

,CO_ANO,CO_MES,CO_SH4,CO_PAIS,UF,CO_MUN,KG_LIQUIDO,VL_FOB,CO_NCM,VL_FRETE,VL_SEGURO,kg_orig,fob_orig
0,1997,1,3102,23,GO,5301108.0,1900000,184300,31022100.0,19000.0,0.0,1900000,184300
9,1997,1,3104,23,BA,2905701.0,59400,10128,31042090.0,5824.0,41.0,59400,10128
10,1997,1,3104,23,MG,3170701.0,300000,37800,31042090.0,3600.0,60.0,300000,37800
17,1997,1,3102,87,MG,3170107.0,3000000,291000,31022100.0,54000.0,900.0,3000000,291000
18,1997,1,3102,87,SP,3429401.0,3000000,291000,31022100.0,54000.0,2392.0,3000000,291000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
47655,2024,8,3104,847,BA,2908507.0,10000000,2655000,31042090.0,516614.0,2306.0,14974320,3975682
47656,2024,8,3104,847,GO,5305109.0,2000000,535000,31042090.0,155460.0,1342.0,4200000,1194362
47657,2024,8,3104,847,GO,5303500.0,2200000,659362,31042090.0,155460.0,1342.0,4200000,1194362
47658,2024,8,3104,847,MG,3117900.0,330000,86031,31042090.0,700422.0,178.0,62925066,19116024
47659,2024,8,3104,847,MG,3170701.0,62595066,19029993,31042090.0,700422.0,178.0,62925066,19116024

In [28]:
mn_o.KG_LIQUIDO.sum()/m.KG_LIQUIDO.sum()

np.float64(0.29823486829287166)

In [29]:
mn_o.KG_LIQUIDO.sum()/m.KG_LIQUIDO.sum()

np.float64(0.29823486829287166)

In [30]:
mn_11.KG_LIQUIDO.sum()/n.KG_LIQUIDO.sum()

np.float64(0.0)

In [31]:
mn_11.KG_LIQUIDO.sum()/n.KG_LIQUIDO.sum()

np.float64(0.0)

In [32]:
mn_w1.KG_LIQUIDO.sum()/m.KG_LIQUIDO.sum()

np.float64(0.4447216765247962)

In [33]:
mn_w1.KG_LIQUIDO.sum()/n.KG_LIQUIDO.sum()

np.float64(0.4447216765247962)

In [34]:
mn_1w.KG_LIQUIDO.sum()/m.KG_LIQUIDO.sum()

np.float64(0.04774410463587993)

In [35]:
mn_1w.KG_LIQUIDO.sum()/n.KG_LIQUIDO.sum()

np.float64(0.04774410463587993)

In [36]:
mn_poly.KG_LIQUIDO.sum()/m.KG_LIQUIDO.sum()

np.float64(0.7907006494535479)

In [37]:
mn_poly.KG_LIQUIDO.sum()/n.KG_LIQUIDO.sum()

np.float64(0.7907006494535479)

In [38]:
mn_poly.KG_LIQUIDO.sum()/m.KG_LIQUIDO.sum()

np.float64(0.7907006494535479)

In [39]:
mn_poly.KG_LIQUIDO.sum()/n.KG_LIQUIDO.sum()

np.float64(0.7907006494535479)

In [40]:
mn_poly.to_csv('~/git/BD/temp/mn_poly.csv',index=False)