In [30]:
# Importa as bibliotecas necessárias
%run '~/git/Bibliotecas.ipynb'

# Importação

In [85]:
# Carrega a base de dados contendo os registros de importação de fertilizantes
q=pd.read_csv('~/git/Pricing-Fertilizer-take-Rains-into-account/temp/q.csv')
q.head(1)

,CO_ANO,CO_MES,KG_LIQUIDO,KG_LIQUIDO_pred_mm,KG_LIQUIDO_pred_s_mm,erro_mm,erro_s_mm,train_size_anos,ad
0,2007,8,53557361.0,58213561,62620730,4656200.0,9063369.0,5.0,1

In [95]:
q['dif']=q.erro_mm-q.erro_s_mm

q=pd.concat([
    q.loc[:,:'CO_MES'],
    q.loc[:,'KM_LIQUIDO':]/10**6
],axis=1)

round(q.sort_values('dif',ascending=False).head())

KeyError: 'KM_LIQUIDO'

In [64]:
round(q[['erro_mm','erro_s_mm']].mean()/10**6)

erro_mm      39.0
erro_s_mm    41.0
dtype: float64

In [66]:
r['dif']=r.erro_s_mm-r.erro_mm
r.sort_values(by='dif', ascending=False)

TypeError: Series.sort_values() got an unexpected keyword argument 'by'

In [34]:
r=round(q.groupby('CO_ANO')[['erro_mm','erro_s_mm']].mean()/10**6).reset_index()
r['dif']=r.erro_s_mm-r.erro_mm
r.sort_values(by='dif', ascending=False)

    CO_ANO  erro_mm  erro_s_mm   dif
13    2020     29.0       37.0   8.0
9     2016     25.0       31.0   6.0
16    2023     44.0       49.0   5.0
5     2012     31.0       36.0   5.0
14    2021     51.0       54.0   3.0
8     2015     28.0       31.0   3.0
11    2018     54.0       56.0   2.0
6     2013     24.0       26.0   2.0
4     2011     24.0       24.0   0.0
7     2014     26.0       26.0   0.0
12    2019     39.0       39.0   0.0
0     2007     13.0       12.0  -1.0
10    2017     74.0       73.0  -1.0
1     2008     22.0       21.0  -1.0
3     2010     20.0       19.0  -1.0
15    2022     37.0       35.0  -2.0
2     2009     18.0       15.0  -3.0
17    2024     58.0       22.0 -36.0

In [35]:
r=round(q.groupby('CO_MES')[['erro_mm','erro_s_mm']].mean()/10**6).reset_index()
r['dif']=r.erro_s_mm-r.erro_mm
r.sort_values(by='dif', ascending=False)

    CO_MES  erro_mm  erro_s_mm  dif
1        2     33.0       39.0  6.0
8        9     33.0       38.0  5.0
9       10     48.0       53.0  5.0
0        1     49.0       53.0  4.0
2        3     36.0       40.0  4.0
6        7     43.0       46.0  3.0
7        8     29.0       31.0  2.0
11      12     33.0       35.0  2.0
3        4     25.0       25.0  0.0
10      11     57.0       56.0 -1.0
4        5     43.0       41.0 -2.0
5        6     38.0       35.0 -3.0

In [36]:
r=round(q.groupby('ad')[['erro_mm','erro_s_mm']].mean()/10**6).reset_index()
r['dif']=r.erro_s_mm-r.erro_mm
r=r.sort_values(by='dif', ascending=False)
r

   ad  erro_mm  erro_s_mm   dif
6   7     27.0       35.0   8.0
5   6     42.0       44.0   2.0
7   8     39.0       41.0   2.0
4   5     42.0       40.0  -2.0
0   1     53.0       50.0  -3.0
3   4     57.0       53.0  -4.0
2   3     75.0       56.0 -19.0
1   2     37.0        8.0 -29.0

In [37]:
r=round(q.groupby('train_size_anos')[['erro_mm','erro_s_mm']].mean()/10**6).reset_index()
r['dif']=r.erro_s_mm-r.erro_mm
r.sort_values(by='dif', ascending=False)

   train_size_anos  erro_mm  erro_s_mm  dif
3              8.0     37.0       41.0  4.0
5             10.0     39.0       42.0  3.0
7             12.0     42.0       45.0  3.0
8             13.0     44.0       47.0  3.0
9             14.0     43.0       46.0  3.0
1              6.0     36.0       38.0  2.0
2              7.0     37.0       39.0  2.0
4              9.0     39.0       41.0  2.0
0              5.0     34.0       35.0  1.0
6             11.0     42.0       43.0  1.0

# 2ª tentativa

In [42]:
q=q[q.CO_ANO!=2024]

In [43]:
round(q[['erro_mm','erro_s_mm']].mean()/10**6)

erro_mm      38.0
erro_s_mm    41.0
dtype: float64

In [44]:
r=round(q.groupby('CO_ANO')[['erro_mm','erro_s_mm']].mean()/10**6).reset_index()
r['dif']=r.erro_s_mm-r.erro_mm
r.sort_values(by='dif', ascending=False)

    CO_ANO  erro_mm  erro_s_mm  dif
13    2020     29.0       37.0  8.0
9     2016     25.0       31.0  6.0
16    2023     44.0       49.0  5.0
5     2012     31.0       36.0  5.0
14    2021     51.0       54.0  3.0
8     2015     28.0       31.0  3.0
6     2013     24.0       26.0  2.0
11    2018     54.0       56.0  2.0
7     2014     26.0       26.0  0.0
4     2011     24.0       24.0  0.0
12    2019     39.0       39.0  0.0
1     2008     22.0       21.0 -1.0
10    2017     74.0       73.0 -1.0
3     2010     20.0       19.0 -1.0
0     2007     13.0       12.0 -1.0
15    2022     37.0       35.0 -2.0
2     2009     18.0       15.0 -3.0

In [45]:
r=round(q.groupby('CO_MES')[['erro_mm','erro_s_mm']].mean()/10**6).reset_index()
r['dif']=r.erro_s_mm-r.erro_mm
r.sort_values(by='dif', ascending=False)

    CO_MES  erro_mm  erro_s_mm  dif
0        1     49.0       55.0  6.0
1        2     33.0       39.0  6.0
8        9     33.0       38.0  5.0
9       10     48.0       53.0  5.0
2        3     36.0       40.0  4.0
6        7     43.0       46.0  3.0
7        8     29.0       31.0  2.0
11      12     33.0       35.0  2.0
3        4     25.0       25.0  0.0
10      11     57.0       56.0 -1.0
4        5     43.0       41.0 -2.0
5        6     38.0       35.0 -3.0

In [46]:
r=round(q.groupby('ad')[['erro_mm','erro_s_mm']].mean()/10**6).reset_index()
r['dif']=r.erro_s_mm-r.erro_mm
r=r.sort_values(by='dif', ascending=False)
r

   ad  erro_mm  erro_s_mm   dif
6   7     27.0       35.0   8.0
7   8     38.0       41.0   3.0
5   6     42.0       44.0   2.0
4   5     42.0       40.0  -2.0
0   1     53.0       50.0  -3.0
3   4     57.0       53.0  -4.0
2   3     75.0       56.0 -19.0
1   2     37.0        8.0 -29.0

In [47]:
r=round(q.groupby('train_size_anos')[['erro_mm','erro_s_mm']].mean()/10**6).reset_index()
r['dif']=r.erro_s_mm-r.erro_mm
r.sort_values(by='dif', ascending=False)

   train_size_anos  erro_mm  erro_s_mm  dif
3              8.0     37.0       41.0  4.0
9             14.0     43.0       47.0  4.0
5             10.0     39.0       42.0  3.0
7             12.0     42.0       45.0  3.0
8             13.0     44.0       47.0  3.0
1              6.0     36.0       38.0  2.0
2              7.0     37.0       39.0  2.0
4              9.0     39.0       41.0  2.0
0              5.0     34.0       35.0  1.0
6             11.0     42.0       43.0  1.0

# 3ª Tentativa

In [48]:
q=q[~q.ad.isin([2,3])]

In [49]:
round(q[['erro_mm','erro_s_mm']].mean()/10**6)

erro_mm      38.0
erro_s_mm    41.0
dtype: float64

In [50]:
r=round(q.groupby('CO_ANO')[['erro_mm','erro_s_mm']].mean()/10**6).reset_index()
r['dif']=r.erro_s_mm-r.erro_mm
r.sort_values(by='dif', ascending=False)

    CO_ANO  erro_mm  erro_s_mm  dif
13    2020     29.0       37.0  8.0
9     2016     25.0       31.0  6.0
11    2018     51.0       57.0  6.0
16    2023     44.0       49.0  5.0
5     2012     31.0       36.0  5.0
14    2021     51.0       54.0  3.0
8     2015     28.0       31.0  3.0
6     2013     24.0       26.0  2.0
7     2014     26.0       26.0  0.0
4     2011     24.0       24.0  0.0
12    2019     39.0       39.0  0.0
10    2017     74.0       73.0 -1.0
3     2010     20.0       19.0 -1.0
1     2008     23.0       21.0 -2.0
15    2022     37.0       35.0 -2.0
0     2007     15.0       13.0 -2.0
2     2009     18.0       15.0 -3.0

In [51]:
r=round(q.groupby('CO_MES')[['erro_mm','erro_s_mm']].mean()/10**6).reset_index()
r['dif']=r.erro_s_mm-r.erro_mm
r.sort_values(by='dif', ascending=False)

    CO_MES  erro_mm  erro_s_mm  dif
0        1     49.0       55.0  6.0
1        2     33.0       39.0  6.0
8        9     33.0       38.0  5.0
9       10     46.0       51.0  5.0
2        3     36.0       40.0  4.0
3        4     24.0       27.0  3.0
6        7     43.0       46.0  3.0
7        8     29.0       31.0  2.0
11      12     33.0       35.0  2.0
4        5     40.0       40.0  0.0
10      11     58.0       57.0 -1.0
5        6     38.0       35.0 -3.0

In [52]:
r=round(q.groupby('ad')[['erro_mm','erro_s_mm']].mean()/10**6).reset_index()
r['dif']=r.erro_s_mm-r.erro_mm
r=r.sort_values(by='dif', ascending=False)
r

   ad  erro_mm  erro_s_mm  dif
4   7     27.0       35.0  8.0
5   8     38.0       41.0  3.0
3   6     42.0       44.0  2.0
2   5     42.0       40.0 -2.0
0   1     53.0       50.0 -3.0
1   4     57.0       53.0 -4.0

In [53]:
r=round(q.groupby('train_size_anos')[['erro_mm','erro_s_mm']].mean()/10**6).reset_index()
r['dif']=r.erro_s_mm-r.erro_mm
r.sort_values(by='dif', ascending=False)

   train_size_anos  erro_mm  erro_s_mm  dif
3              8.0     37.0       41.0  4.0
7             12.0     41.0       45.0  4.0
1              6.0     35.0       38.0  3.0
2              7.0     36.0       39.0  3.0
4              9.0     38.0       41.0  3.0
5             10.0     39.0       42.0  3.0
8             13.0     44.0       47.0  3.0
9             14.0     43.0       46.0  3.0
6             11.0     41.0       43.0  2.0
0              5.0     34.0       35.0  1.0

# 4ª

In [55]:
q=q[~q.CO_MES.isin([5,6,11])]

In [56]:
round(q[['erro_mm','erro_s_mm']].mean()/10**6)

erro_mm      36.0
erro_s_mm    40.0
dtype: float64

In [57]:
r=round(q.groupby('CO_ANO')[['erro_mm','erro_s_mm']].mean()/10**6).reset_index()
r['dif']=r.erro_s_mm-r.erro_mm
r.sort_values(by='dif', ascending=False)

    CO_ANO  erro_mm  erro_s_mm   dif
13    2020     26.0       36.0  10.0
12    2019     31.0       39.0   8.0
11    2018     50.0       58.0   8.0
16    2023     36.0       42.0   6.0
9     2016     20.0       26.0   6.0
5     2012     29.0       34.0   5.0
6     2013     24.0       27.0   3.0
8     2015     26.0       28.0   2.0
4     2011     24.0       25.0   1.0
7     2014     25.0       25.0   0.0
10    2017     91.0       91.0   0.0
3     2010     18.0       18.0   0.0
1     2008     24.0       23.0  -1.0
14    2021     54.0       53.0  -1.0
15    2022     28.0       27.0  -1.0
2     2009     17.0       13.0  -4.0
0     2007     19.0       14.0  -5.0

In [58]:
r=round(q.groupby('CO_MES')[['erro_mm','erro_s_mm']].mean()/10**6).reset_index()
r['dif']=r.erro_s_mm-r.erro_mm
r.sort_values(by='dif', ascending=False)

   CO_MES  erro_mm  erro_s_mm  dif
0       1     49.0       55.0  6.0
1       2     33.0       39.0  6.0
6       9     33.0       38.0  5.0
7      10     46.0       51.0  5.0
2       3     36.0       40.0  4.0
3       4     24.0       27.0  3.0
4       7     43.0       46.0  3.0
5       8     29.0       31.0  2.0
8      12     33.0       35.0  2.0

In [59]:
r=round(q.groupby('ad')[['erro_mm','erro_s_mm']].mean()/10**6).reset_index()
r['dif']=r.erro_s_mm-r.erro_mm
r=r.sort_values(by='dif', ascending=False)
r

   ad  erro_mm  erro_s_mm   dif
4   7     27.0       35.0   8.0
5   8     36.0       40.0   4.0
3   6     42.0       44.0   2.0
2   5     42.0       40.0  -2.0
1   4     59.0       55.0  -4.0
0   1     75.0       59.0 -16.0

In [60]:
r=round(q.groupby('train_size_anos')[['erro_mm','erro_s_mm']].mean()/10**6).reset_index()
r['dif']=r.erro_s_mm-r.erro_mm
r.sort_values(by='dif', ascending=False)

   train_size_anos  erro_mm  erro_s_mm  dif
8             13.0     41.0       47.0  6.0
3              8.0     35.0       40.0  5.0
7             12.0     39.0       44.0  5.0
9             14.0     40.0       45.0  5.0
4              9.0     36.0       40.0  4.0
5             10.0     37.0       41.0  4.0
6             11.0     39.0       43.0  4.0
1              6.0     34.0       37.0  3.0
2              7.0     35.0       38.0  3.0
0              5.0     33.0       35.0  2.0

In [38]:
q.to_csv('~/git/Pricing-Fertilizer-take-Rains-into-account/temp/q1.csv', index=False)