In [1]:
import pandas as pd

In [2]:
score=pd.read_csv('~/git/BD/temp/score.csv')
score.head(1)

,CO_MES,CO_NCM,SG_UF_NCM,accuracy,precision,recall,r2,len_ncms,len_cols
0,3,31042090-hi,PR,0.954545,0.954545,1.0,-0.191355,1,"['31042090-hi~PR_kg_ad_1', '31042090-hi~PR_fob..."

In [3]:
score.groupby(by=['CO_MES','len_ncms']).r2.mean().reset_index().sort_values(by=['r2']).reset_index(drop=True)

    CO_MES  len_ncms        r2
0        1         1 -0.929486
1       10         1 -0.763273
2        6         1 -0.731100
3        9         1 -0.562522
4        7         1 -0.486820
5        4         1 -0.353283
6        8         1 -0.339711
7       11         1 -0.311933
8        2         1 -0.244285
9        3         1 -0.191355
10      12         1 -0.154567
11       5         1  0.109188